.App {
  text-align: center;
  background: rgb(123, 175, 209);
}

body {
  background: rgb(123, 175, 209);
}

.vehicleSearchForm {
  background: white;
  margin: 8px;
}

.vehicleSearchForm button, select {
  margin: 8px;
  border: 2px solid #1D3354;
  padding: 8px;
  width: 100px;
  border-radius: 4px;
  color: #1D3354;
}

.vehicleSearchForm button {
  display: block;
  margin: 8px auto;
  background-color: white;
}

.vehicleSearchForm button:hover {
  background-color: #E9FFF9;
}

.detailBtn {
  height: 40px;
  width: 120px;
  display: block;
  margin: 8px auto 0;
  background-color: #D64045;
  color: white;
  border-radius: 4px;
}
