.App {
  text-align: center;
  background: rgb(123, 175, 209);
}

body {
  background: rgb(123, 175, 209);
}

.vehicleSearchForm {
  background: white;
  margin: 8px;
}

.vehicleSearchForm button, select {
  margin: 8px;
  border: 2px solid #1D3354;
  padding: 8px;
  width: 100px;
  border-radius: 4px;
  color: #1D3354;
}

.vehicleSearchForm button {
  display: block;
  margin: 8px auto;
  background-color: white;
}

.vehicleSearchForm button:hover {
  background-color: #E9FFF9;
}

.detailBtn {
  height: 40px;
  width: 120px;
  display: block;
  margin: 8px auto 0;
  background-color: #D64045;
  color: white;
  border-radius: 4px;
}

.contactModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &::after{
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba($color: #000000, $alpha: 0.25);
  }

  .contactModalInner {
    background-color: white;
    max-width: 400px;
    min-height: 200px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -25%;
    margin-left: -25%;
  }
}


