.App {
  text-align: center;
  margin: 5px;
}

.vehicleSearchForm button, select {
  margin: 8px;
  border: 2px solid #1D3354;
  padding: 8px;
  width: 100px;
  border-radius: 4px;
  color: #1D3354;
}

.vehicleSearchForm button {
  display: block;
  margin: 8px auto;
  background-color: white;
}

.vehicleSearchForm button:hover {
  background-color: #E9FFF9;
}

/* .vehicleSearchForm select {
  margin: 8px;
  border-radius: 4px;
  border: 2px solid #1D3354;

} */
